@import '../../../assets//sass/main.scss';

/* Breakpoints */
$mobile: 375px;
$mobile-max: 767.99px;
$tablet: 768px;
$tablet-max: 1439.99px;
$desktop: 1440px;

.selectWrapper {
  position: relative;

  .selectButton {
    width: 100%;
    font-size: 1.15rem;
    background-color: $bg-primary-color;
    padding: 0.675em 1em;
    border: 1px solid $pagination-border-color;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .selectValue {
    text-align: left;
    color: #05050599;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: -0.02em;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .selectValue::first-letter {
    text-transform: uppercase;
  }

  .iconWrapper {
    display: flex;
  }

  .arrow {
    transition: transform ease-in-out 0.3s;
    width: 18px;
    height: 18px;
    fill: none;
    stroke: $dark-text;
    stroke-width: 1.8px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .selectDropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    background-color: $bg-primary-color;
    border: 1px solid $pagination-border-color;
    border-radius: 16px;
    padding: 16px 18px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;
    z-index: 1;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
  }

  .selectDropdown li {
    position: relative;
    cursor: pointer;
    display: flex;

    align-items: center;
  }

  .selectDropdown li label {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: -0.02em;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .selectDropdown::-webkit-scrollbar {
    width: 0;
  }

  .selectDropdown li:hover,
  .selectDropdown input:checked ~ label {
    background-color: $pagination-border-color;
  }

  .selectDropdown input:focus ~ label {
    background-color: $pagination-border-color;
  }

  .selectDropdown input[type='radio'] {
    position: absolute;
    left: 0;
    opacity: 0;
  }

  @media screen and (min-width: $mobile) and (max-width: $mobile-max) {
    width: 343px;
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    width: 345px;
  }

  @media screen and (min-width: $desktop) {
    width: 330px;
  }
}

.active {
  .arrow {
    transform: rotate(180deg);
  }

  .selectDropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
