$dark-text: #050505;
$main-text: rgba(5, 5, 5, 0.8);
$mid-dark-text: rgba(5, 5, 5, 0.6);
$lighter-dark-text: rgba(5, 5, 5, 0.4);
$light-dark-text: rgba(5, 5, 5, 0.2);
$light-dark-semistroke: rgba(5, 5, 5, 0.15);
$light-dark-stroke: rgba(5, 5, 5, 0.1);
$avatar-name-text: rgba(5, 5, 5, 0.9);
$light-dark-stroke-button: rgba(5, 5, 5, 0.12);
$light-stroke: rgba(255, 255, 255, 0.3);
$light-stroke-04: rgba(255, 255, 255, 0.4);

$gray-text-lighter: rgba(255, 255, 255, 0.8);
$gray-text: rgba(255, 255, 255, 0.9);
$bg-primary-color: #ffffff;

$slider-light-color: rgba(217, 217, 217, 1);
$slider-dark-color: rgba(0, 0, 0, 1);

$quote-color: rgba(233, 233, 233, 1);

$hover-transition: 0.3s;
