$dark-text: #050505;
$avatar-name-text: rgba(5, 5, 5, 0.9);
$main-text: rgba(5, 5, 5, 0.8);
$mid-dark-text: rgba(5, 5, 5, 0.6);
$lighter-dark-text: rgba(5, 5, 5, 0.4);
$light-dark-text: rgba(5, 5, 5, 0.2);
$light-dark-stroke: rgba(5, 5, 5, 0.1);

$gray-text-lighter: rgba(255, 255, 255, 0.8);
$gray-text: rgba(255, 255, 255, 0.9);
$bg-primary-color: #ffffff;

$hover-transition: 0.3s;
