@import '../../assets/sass/utils/mixin';
@import '../../assets/sass/utils/variables';

.popularRecipesContainer {
  width: 100%;
  max-width: 342px;
  margin: 0px auto 64px auto;
}

.popularRecipesTitle {
  @include font-styles(18px, 800, 1.33);
  margin-bottom: 32px;
  letter-spacing: -0.36px;
  color: $dark-text;
}

.popularRecipeList {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .popularRecipesContainer {
    max-width: 704px;
    margin-bottom: 100px;
    overflow: hidden;
  }

  .popularRecipesTitle {
    @include font-styles(24px, 800, 1.17);
    margin-bottom: 40px;
    letter-spacing: -0.48px;
  }

  .popularRecipeList {
    gap: 40px 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1440px) {
  .popularRecipesContainer {
    max-width: 1280px;
    margin-bottom: 120px;
  }

  .popularRecipeList {
    gap: 20px;
  }
}
