@import '../../../assets/sass/utils/variables.scss';
@import '../../../assets/sass/utils/mixin.scss';

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 343px;
}

.profile_info_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 30px 54px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.user_name {
  @include font-styles(18px, 800, 1.33);
  text-transform: uppercase;
}

.btn_logout {
  width: 100%;
  max-width: 343px;
  height: 48px;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 30px;
  background: $main-text;
  cursor: pointer;
  @include font-styles(14px, 700, 1.43);
  color: $bg-primary-color;
  text-transform: uppercase;
}
