@import '../../../assets/sass/utils/mixin';
@import '../../../assets/sass/utils/variables';

.add_recipe_form_ingredients {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.add_recipe_form_ingredient_input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add_recipe_form_ingredient_select_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add_recipe_form_ingredient_input_select {
  padding: 14px;
  width: 343px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  opacity: 1;

  font-family: 'Mulish', sans-serif;
  @include font-styles(14px, 500, 1.42);
  letter-spacing: -0.02em;

  appearance: none;
  background: url('../../../assets/icons/arrow-drop-down.svg') no-repeat right
    16px center;
  background-color: inherit;

  color: rgba(5, 5, 5, 0.6);

  &.ingredient_placeholder {
    color: rgba(5, 5, 5, 0.6);
  }

  &.ingredient_selected {
    color: rgba(5, 5, 5, 1);
  }
}

.add_recipe_form_ingredient_input_ingredient_option {
  font-family: 'Mulish', sans-serif;
  @include font-styles(14px, 500, 1.42);
  letter-spacing: -0.02em;
  color: rgba(5, 5, 5, 1);
}

.add_recipe_form_ingredient_input_select::-ms-expand {
  display: none;
}

.add_recipe_form_ingredient_input_measure {
  width: 343px;
  height: 46px;
  padding: 0px;
  margin-bottom: 14px;

  font-family: 'Mulish', sans-serif;
  @include font-styles(14px, 500, 1.42);
  letter-spacing: -0.02em;
  color: rgba(5, 5, 5, 1);

  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(5, 5, 5, 0.12);

  &::placeholder {
    color: rgba(5, 5, 5, 0.6);
  }
}

.add_recipe_form_ingredient_input_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid rgba(5, 5, 5, 0.9);

  font-family: 'Mulish', sans-serif;
  @include font-styles(14px, 700, 1.42);
  letter-spacing: -0.02em;
  color: rgba(5, 5, 5, 1);
  text-transform: uppercase;
  cursor: pointer;
}

.add_recipe_form_ingredient_input_button:hover {
  border: 2px solid rgba(5, 5, 5, 0.9);
}

.add_recipe_form_ingredient_input_button_icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .add_recipe_form_ingredient_input_select {
    width: 315px;
    height: 56px;
  }

  .add_recipe_form_ingredient_select_wrap {
    display: flex;
    flex-direction: row;
    gap: 19px;
    margin-bottom: 40px;
  }
}
