@import '../../../assets/sass/utils/mixin';
@import '../../../assets/sass/utils/variables';

.area_select_container {
  display: flex;
  flex-direction: column;
  width: 343px;
  gap: 8px;
  margin-bottom: 20px;
}

.area_select {
  padding: 14px;
  width: 343px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  opacity: 1;

  font-family: 'Mulish', sans-serif;
  @include font-styles(14px, 500, 1.42);
  letter-spacing: -0.02em;

  appearance: none;
  background: url('../../../assets/icons/arrow-drop-down.svg') no-repeat right
    16px center;
  background-color: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }
}

.area_select_option {
  font-family: 'Mulish', sans-serif;
  @include font-styles(14px, 500, 1.42);
  letter-spacing: -0.02em;
  color: rgba(5, 5, 5, 1);

  background-color: rgba(255, 255, 255, 1);
  width: auto;
  padding: 16px 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.area_placeholder {
  color: rgba(5, 5, 5, 0.6);
}

.area_selected {
  color: rgba(5, 5, 5, 1);
}

@media screen and (min-width: 768px) {
  .area_select_container {
    gap: 16px;
  }

  .area_select {
    width: 315px;
    height: 56px;
  }
}
