@import '../../../assets/sass/utils/mixin';
@import '../../../assets/sass/utils/variables';

.add_recipe_form_description_wrap {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 32px;
}

.add_recipe_form_description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.add_recipe_form_description_input {
  width: 100%;
  min-height: 20px;
  border: none;
  padding: 0;
  outline: none;
  background-color: #fff;
  font-family: 'Mulish', sans-serif;
  @include font-styles(14px, 500, 1.42);

  font-family: Mulish;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;

  color: rgba(5, 5, 5, 0.8);

  &.description_placeholder {
    color: rgba(5, 5, 5, 0.6);
  }
}

.bottom_border {
  border: 1px solid rgba(5, 5, 5, 0.12);
  margin-top: -1px;
}

.character_count {
  display: flex;
  align-items: center;
}

.character_count span {
  color: rgba(5, 5, 5, 0.6);
}

.character_count span.active {
  color: rgba(5, 5, 5, 1);
}

@media screen and (min-width: 768px) {
  .add_recipe_form_description_wrap {
    margin-bottom: 60px;
  }

  .add_recipe_form_description {
    gap: 47px;
  }

  .add_recipe_form_description_input {
    @include font-styles(16px, 500, 1.5);
  }
}
