@import "../../assets/sass/utils/variables";

.button {
    border-radius: 50%;
    border: 1px solid $light-dark-stroke;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color $hover-transition;

    &:hover,
    &:focus {
        background-color: $dark-text;
    }
}

.icon {
    transition: fill $hover-transition;
    fill: $dark-text;
}

.button:hover .icon,
.button:focus .icon {
    fill: $bg-primary-color;
}