@import '../../assets/sass/utils/variables';
@import '../../assets/sass/utils/mixin';

.button {
  @include flex-center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid $light-dark-stroke;
  background-color: transparent;
  cursor: pointer;
  transition: background-color $hover-transition;

  &:hover,
  &:focus {
    background-color: $dark-text;
  }

  &:hover .icon,
  &:focus .icon {
    fill: $bg-primary-color;
  }

  &:hover .favorite,
  &:focus .favorite {
    fill: red;
  }
}

.delete-button {
  width: 48px;
  height: 48px;
  border-color: $light-dark-stroke-button;
}

.network-link-button {
  width: 36px;
  height: 36px;
  border-color: $light-dark-semistroke;
}

.icon {
  width: 16px;
  height: 16px;
  transition: fill $hover-transition;
  fill: $dark-text;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.network-link-icon {
  width: 20px;
  height: 20px;
}

.favorite {
  fill: red;
}

.arrowLight {
  fill: $bg-primary-color;
}

.buttonLightStroke {
  border: 1px solid $light-stroke;

  &:hover,
  &:focus {
    border-style: none;
  }
}

@media screen and (min-width: 768px) {
  .button {
    width: 42px;
    height: 42px;
  }

  .delete-button {
    width: 56px;
    height: 56px;
  }

  .network-link-button {
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}
