.main_container {
  margin-top: 64px;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.head_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 64px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header_container {
    max-width: 704px;
  }

  .head_content {
    gap: 20px;
  }

  .main_content {
    gap: 80px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .main_container {
    max-width: 1280px;
    margin-top: 80px;
  }

  .main_content {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 120px;
  }
}
