.main_container {
  margin-top: 170px;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
  width: 100%;
  margin-top: 32px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header_container {
    max-width: 704px;
  }

  .main_content {
    gap: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .main_container {
    max-width: 1280px;
  }

  .main_content {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }
}
