@import '../../../assets/sass/main.scss';

.filters_wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.filter_container {
    position: relative;
}

.filter_select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    height: 56px;   
    padding-left: 18px;
    padding-right: 54px;
    background-color: $bg-primary-color;
    border: 1px solid rgba(5, 5, 5, 0.12);
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;

    background-image: url('../../../assets/icons/arrow-filter.svg'); // Додайте шлях до вашої кастомної іконки
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-size: 18px;
}
