@import '../../../assets/sass/main.scss';

.recipeFilters {
  display: grid;
  height: fit-content;
  gap: 14px;

  @media screen and (min-width: 375px) and (max-width: 767.99p) {
    grid-template-columns: repeat(1, minmax(343px, 1fr));
    width: 343px;
    row-gap: 14px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439.99px) {
    grid-template-columns: repeat(2, minmax(345px, 1fr));
    column-gap: 14px;
    width: 704px;
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(1, minmax(330px, 1fr));
    row-gap: 14px;
    width: 330px;
  }
}
