@import '../../assets/sass/utils/mixin';
@import '../../assets/sass/utils/variables';

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
}

.modal_content {
  background: $bg-primary-color;
  padding: 60px 30px;
  border-radius: 20px;
  position: relative;
  width: 343px;
}

.modal_close {
  padding: 0;
  position: absolute;
  top: 13px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal_close_icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: $dark-text;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@media screen and (min-width: 768px) {
  .modal_content {
    padding: 80px;
    width: 560px;
  }

  .modal_close {
    top: 17px;
    right: 20px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
}
