@import "../../assets/sass/utils/mixin";
@import "../../assets/sass/utils/variables";

.header_container {
	@include flex-center(space-between);
	position: absolute;
	top: 24px;
	left: 24px;
	width: 100%;
	max-width: 327px;
	height: 38px;
	background-color: $dark-text;
	// background-color:white;
	color: $bg-primary-color;
	z-index: 10;
}

.header_container__light {
	@extend.header_container;
	background-color: $bg-primary-color;
}

.burger_btn {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.logo {
	@include font-styles(20px, 800, 1.2);
	color: $bg-primary-color;
	letter-spacing: -0.4px;
}

.profile_bar_wrapper {
	@include flex-center;
}

.dropdown_menu {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	top: 46px;
	right: 33px;
	width: 122px;
	height: 72px;
	background-color: $dark-text;
	padding: 16px;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.20);

}

.dropdown_menu_link_img{
	display: flex;
	align-items: center;
	margin-top: 4px;
}

.dropdown_menu_link{
	@include font-styles(12px, 700, 1.5);
}

.dropdown_menu_link_img a{
	margin-right: 2px;
}

.profile_bar {
	display: flex;
	align-items: center;
	margin-right: 4px;
	width: 122px;
	height: 32px;
	border-radius: 30px;
	
	background-color: $dark-text;
	cursor: pointer;
}

.profile_bar_unauthenticated {
	@extend .profile_bar;
	width: 156px;
	height: 38px;
	background-color: $bg-primary-color;
	margin-right: 0;
}

.profile_bar__light {
	@extend .profile_bar;
	background-color: $bg-primary-color;
}

.avatar_wrapper{
	display: flex;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: $bg-primary-color;
}

.avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.profile_bar_name {
	@include font-styles(12px, 700, 1.5);
	margin-left: 6px;
	margin-right: 4px;
	text-transform: uppercase;
}

.profile_bar_name__dark {
	@extend .profile_bar_name;
	color: $dark-text;
}

.burger {
	width: 20px;
	height: 20px;
}

.sign_in_block {
	@include font-styles(12px, 700, 1.5);
	@include flex-center;
	margin: 0;
	padding: 10px 16px;
	background-color: transparent;
	border: none;
	white-space: nowrap;
	height: 38px;
	background-color: $bg-primary-color;
	border-radius: 30px;
	color: $dark-text;
	cursor: pointer;
}

.sign_in_block:hover{
	background-color: rgba(255, 136, 0, 0.793);
	color: $bg-primary-color;
}

.sign_up_block {
	@extend .sign_in_block;
	background-color: $dark-text;
	color: $bg-primary-color;
	border: 1px solid #E8E8E8;
	cursor: pointer;
}

.sign_up_block:hover{
	background-color: rgba(255, 136, 0, 0.793);
	color: $bg-primary-color;
}

.modal_title{
	@include font-styles(28px, 800, 1.14);
	color: $dark-text;
	text-align: left;
	letter-spacing: -0.64px;
	margin-bottom: 32px;
}

.modal_input{
	@include font-styles(14px, 500, 1.42);
	border-radius: 30px;
	border: 1px solid rgba(5, 5, 5, 0.12);
	padding: 14px;
	width: 283px;
	height: 48px;
}

.modal_input:not(:last-of-type) {
  margin-bottom: 14px;
}

.modal_btn{
	@include font-styles(14px, 700, 1.42);
	letter-spacing: -0.28px;
	height: 48px;
	padding: 14px 116px;
	margin-top: 32px;
	margin-bottom: 16px;
	border-radius: 30px;
	background: rgba(5, 5, 5, 0.20);
	border: none;
	color:rgba(255, 255, 255, 0.40);
	cursor: pointer;
}

.modal_btn:hover{
	background-color: rgba(5, 5, 5, 0.30);
	color: $bg-primary-color;
}

.modal_text{
	@include font-styles(12px, 500, 1.5);
	color:  rgba(5, 5, 5, 0.60);
	letter-spacing: -0.28px;
	text-align: center;
}

.modal_text_link{
	color: $dark-text;
}

.password_input_wrapper{
	margin-top: 14px;
	position: relative;
}

.eye_icon{
	position: absolute;
	top: 18px;
	right: 18px;
}


@media screen and (min-width: 768px) {
	
	.header_container {
		top: 36px;
		left: 32px;
		width: 704px;
		max-width: 704px;
		height: 50px;
	}

	.logo{
		@include font-styles(24px, 800, 1.16);
		letter-spacing: -0.48px;
	}

	.burger_btn{
		display: none;
	}

	.avatar_wrapper{
		width: 50px;
		height: 50px;
	}

	.profile_bar {
		margin-right: 0;
		width: 148px;
		height: 50px;
	}
	
	.dropdown_menu {
		top: 60px;
		right: 5px;
		width: 148px;
		height: 74px;
		padding: 16px;
	}

	.dropdown_menu_link_img{
		margin-top: 6px;
	}

	.avatar {
		width: 50px;
		height: 50px;
	}
	
	.profile_bar_unauthenticated {
		height: 46px;
		width: 208px;
	}
	
	.sign_in_block {
		@include font-styles(12px, 700, 1.5);
		padding: 14px 30px;
		height: 46px;
	}

	.sign_up_block {
		@extend .sign_in_block;
		padding: 14px 28px;
	}

	.modal_title{
		@include font-styles(32px, 800, 1.25);
		color: $dark-text;
		text-align: left;
		letter-spacing: -0.64px;
		margin-bottom: 40px;
	}
	
	.modal_input{
		border-radius: 30px;
		border: 1px solid rgba(5, 5, 5, 0.12);
		padding: 16px 18px;
		width: 400px;
		height: 56px;
	}

	.modal_btn{
		width: 400px;
		height: 56px;
		margin-top: 40px;
		margin-bottom: 20px;
		border-radius: 30px;
		background: rgba(5, 5, 5, 0.20);
		border: none;
		color:rgba(255, 255, 255, 0.40);
		cursor: pointer;
	}
	
	.modal_text{
		@include font-styles(14px, 500, 1.28);
		color:  rgba(5, 5, 5, 0.60);
		letter-spacing: -0.28px;
		text-align: center;
	}
}

@media screen and (min-width: 1440px) {
	.header_container {
		top: 40px;
		left: 80px;
		width: 1280px;
		max-width: 1280px;
	}
}