@import '../assets/sass/utils/mixin';
@import '../assets/sass/utils/variables';

.app_container {
  position: relative;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 68px 8px 16px 8px; // top = 8 (initial) + 24 + 36, padding because of header absolute
  background-color: $bg-primary-color;
  color: $main-text;

  @media screen and (min-width: 768px) {
    width: 768px;
    max-width: 768px;
    padding: 102px 16px 32px 16px; // top = 16 (initial) + 36 + 50, padding because of header absolute
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    max-width: 1440px;
    padding: 110px 20px 72px 20px; // top = 20 (initial) + 40 + 50, padding because of header absolute
  }
}
