@import '../../../assets/sass/utils/mixin';
@import '../../../assets/sass/utils/variables';

.add_recipe_form_ingredient_card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 64px;
}

.ingredient_card {
  position: relative;
  min-width: 155px;
  height: 75px;
  display: flex;
  align-items: center;
  position: relative;
}

.ingredient_info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 22px;
}

.add_recipe_form_ingredient_card_img {
  width: 55px;
  height: 55px;
}

.add_recipe_form_ingredient_card_text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-family: Mulish, sans-serif;
  @include font-styles(14px, 500, 1.42);
  letter-spacing: -0.02em;
  text-align: left;
}

.ingredient_card_name {
  color: $dark-text;
  margin: 0px;
}

.ingredient_card_measure {
  color: $mid-dark-text;
}

.add_recipe_form_close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.add_recipe_form_close_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: $dark-text;
}

.add_recipe_form_close_icon:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .add_recipe_form_ingredient_card_container {
    margin-top: 40px;
    margin-bottom: 80px;
    gap: 28px;
  }

  .ingredient_card {
    min-width: 178px;
    height: 80px;
  }

  .ingredient_info {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-right: 19px;
  }

  .add_recipe_form_ingredient_card_img {
    width: 60px;
    height: 60px;
  }

  .add_recipe_form_ingredient_card_text {
    gap: 4px;
    font-family: Mulish, sans-serif;
    @include font-styles(16px, 500, 1.5);
  }
}
