@import '../../assets/sass/utils/mixin';
@import '../../assets/sass/utils/variables';

.add_recipe_form_inputs {
  display: flex;
  flex-direction: column;
}

.add_recipe_form_actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 64px;
}

.add_recipe_form_close_button {
  all: initial;
  border: 1px solid rgba(5, 5, 5, 0.12);
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_recipe_form_close_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;

  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.add_recipe_form_close_icon:hover {
  opacity: 0.8;
}

.add_recipe_form_publish_button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 124px;
  height: 48px;
  padding: 14px 32px 14px 32px;
  border-radius: 30px;
  background: rgba(5, 5, 5, 0.85);

  font-family: 'Mulish', sans-serif;
  @include font-styles(14px, 700, 1.42);
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.add_recipe_form_publish_button:hover {
  background: rgba(5, 5, 5, 1);
}

@media screen and (min-width: 768px) {
  .add_recipe_form_inputs {
    display: flex;
    flex-direction: row;
  }
  .add_recipe_form_close_button {
    width: 56px;
    height: 56px;
  }
}

@media screen and (min-width: 1440px) {
  .add_recipe_form_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 120px;
  }
}
