.add_favorite_btn {
  text-transform: uppercase;
  padding: 14px 20px 14px 20px;
  border-radius: 30px;
  border: 1px solid #0505051f;
  background: none;

  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #050505e5;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .add_favorite_btn {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 24px;
  }
}

// @media screen and (min-width: 1440px) {
