// @import '../../../assets/sass/utils/mixin';
// @import '../../../assets/sass/utils/variables';

// .add_recipe_form_title {
//   @include font-styles(24px, 800, 1.16);
//   width: 100%;
//   font-family: 'Mulish', sans-serif;
//   text-transform: uppercase;
//   letter-spacing: -0.02em;
//   color: $mid-dark-text;
//   outline: none;
//   border: none;
//   margin-top: 32px;
//   margin-bottom: 32px;
// }

// .typing_text {
//   color: rgba(5, 5, 5, 1);
// }

// @media screen and (min-width: 768px) {
//   .add_recipe_form_title {
//     margin-bottom: 40px;
//   }
// }

@import '../../../assets/sass/utils/mixin';
@import '../../../assets/sass/utils/variables';

.input_container {
  margin-top: 32px;
  margin-bottom: 32px;
}

.add_recipe_form_title {
  @include font-styles(24px, 800, 1.16);
  width: 100%;
  font-family: 'Mulish', sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: $mid-dark-text;
  outline: none;
  border: none;
  transition: border-color 0.3s ease;
}

.typing_text {
  color: rgba(5, 5, 5, 1);
}

.error_message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .input_container {
    margin-bottom: 40px;
  }
}
