@import '../../../assets/sass/utils/mixin';
@import '../../../assets/sass/utils/variables';

.add_recipe_form_title {
  @include font-styles(24px, 800, 1.16);
  width: 100%;
  font-family: 'Mulish', sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: $mid-dark-text;
  outline: none;
  border: none;
  margin-bottom: 32px;
}

.typing_text {
  color: rgba(5, 5, 5, 1);
}

@media screen and (max-width: 768px) {
  .add_recipe_form_title {
    margin-bottom: 40px;
  }
}
