.recipe_preparation_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #050505;
    text-transform: uppercase;
  }

  .instruction {
    font-family: Mulish;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #050505cc;
  }
}

@media screen and (min-width: 768px) {
  .recipe_preparation_wrap {
    .title {
      font-size: 20px;
    }

    .instruction {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

// @media screen and (min-width: 1440px) {
