@import '../../../assets/sass/main.scss';

.recipes_list {
  display: grid;
  grid-template-columns: repeat(1, minmax(343px, 1fr));
  width: 343px;
  row-gap: 32px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(342px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
    width: 704px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
    width: 910px;
  }
}

.recipe_item {
  margin-inline: auto;
}
